.container{
    margin-bottom:5px;
}

.app-footer{
    border-top: 1px solid gray;
    text-align: center;
    color:gray;
}

.app-header{
    border-bottom: 1px solid gray;
    margin-bottom: 10px;

}

.app-header h1{
    text-shadow: -2px -2px 2px gray;
}